* {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
  color: #fff;
}
body {
  font-size: 16px;
  line-height: 28px;
  background-color: #f7b617;
}

header {
  width: 100%;
  height: 100px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 4;
}
.pd-top-70{
  padding-top: 70px;
}
.menu-nav ul li a{
  color: #000;
  font-weight: 600;
  font-size: 1.7rem;
}

.home {
  background-image: url("../images/taxi.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:bottom;
  height: 100vh;
  width: 100%;
  position: relative;
  top:100px;
}

.hero {
  position: absolute;
  top: 150px;
  right: 0;
  background-color: #f7b617;
  width: 80%;
  height: 320px;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
}
button {
  margin-top: 30px;
  font-weight: 600;
}

/*Section Information*/

.information {
  margin-top: 100px;
}

.information .thumbnail{
  margin: 5% 2%;
}
.thumbnail {
  background: none;
  border-color: #fff;
  padding: 2%;
}
.information img{
  width: 80%;
  height: 300px;
}
.information .thumbnail p{
  line-height: 28px;
  margin: 20px 0;
}

/*Sectiion Drive*/
.drive {
  background-image: url("../images/conduce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.drive .content {
  padding: 7% 14px;
  background-color: rgba(52, 52, 52, 0.45);
  height: 280px;
}

/*Section Tarifas*/
.tarifas {
  padding: 5% 3%;
}
.tarifas .form-control {
  background: none;
  border: 1px solid #fff;
  width: 80%;
  display: inline-block;
}

.tarifas .form-control {

}

.tarifas .thumbnail {
  /*background:*/
}

@media screen and (min-width:992px) {
  .hero {
    width: 40%;
    height: 420px;
  }
  .hero span {
    font-size: 1.8rem;
  }
  .hero hr {
    width: 100%;
  }
  .hero hr::after {
    content: "O bien";
    position: relative;
    top: -15px;
    left: 35%;
    width: 80px;
    background-color: #f7b617;
    padding: 0 50px;
  }
  /*Section information*/
  .information img{
    width: 50%;
    height: 350px;
  }
  .information .thumbnail {
    transform:translateX(-15%);
  }
/*Section Drive*/
  .drive {
    background-position: center;
  }
  .drive .content {
    height: 400px;
  }

}
